################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Strite Inventory Management/v15/sqlite3/db.lock
/.vs/Strite Inventory Management/v15/Server/sqlite3/db.lock
/.vs/Strite Inventory Management/v15/Server/sqlite3/storage.ide-shm
/.vs/Strite Inventory Management/v15/Server/sqlite3/storage.ide-wal
/.vs/Strite Inventory Management/v15/sqlite3/storage.ide-shm
/.vs/Strite Inventory Management/v15/sqlite3/storage.ide-wal
/.vs/Strite Inventory Management/v15/.suo
C:\Users\nhallick\Documents\Visual Studio 2017\Projects\Strite Inventory Management\.vs
C:\Users\nhallick\Documents\Visual Studio 2017\Projects\Strite Inventory Management\.vs\Strite Inventory Management\v15\Server\sqlite3\storage.ide-shm
C:\Users\nhallick\Documents\Visual Studio 2017\Projects\Strite Inventory Management\.vs\Strite Inventory Management\v15\Server\sqlite3\storage.ide-wal
/.vs